
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/*specificitet 1 + 1*/
html, body{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font: 16px/1.5 "Alice", times, serif;
	width:100%;
	min-height: 100%;
	overflow: auto;

}

/*specificitet 10*/

/*plantify-logo innuti header, används på alla sidor*/
.image{
	height:100%;

}

/*plantify-logo som används i footer, används på alla sidor*/
.footerImg{
	height: 60%;
}

/*storlek på bilderna på plant themes-sidan*/
.plants{
	height:35%;
}

/*specificitet 1*/
header {
	width:100%;
    color: white;
    height: 5rem;
  	background-color: teal;
  	font-size: 2.5em; 
  	display: flex;
  	align-items: center;
  	justify-content: left;
  	padding-left: 2rem;

}

nav{
	width:100%;
	display: table;
	background-color: black;
	color:white;
	margin:0 auto;
}

h1{
	font: 1.5em/1.1 "Playfair Display", times, serif;
}
h2{
	font: 1.2em/1.1 "Playfair Display", times, serif;
}

nav ul {
    padding-left: 2em;
    display: flex;
    list-style: none;
  	margin:0 auto;
}

nav ul li{
    display: inline;
	margin: auto;
	text-align: center;
}

/*specificitet 1 + 1*/
/*för att förändra länkarna i header beroende på hover, aktiva eller om de är besökta eller inte*/
a:link{
	color:white;
	text-decoration: none;
}

a:visited{
	color:white;
}

a:hover{
	color:#E65F68;

}
ul .active a{
	color:#E65F68;
	text-decoration: underline;
}

 

/*specificitet 0 */
/*få till samma storlek på boxar*/
*{
	box-sizing: border-box;
}

/*section som finns på varje sida, innehåller articles som är centrerade*/
.container{
	padding:2em;
	width:100%;
	height: 0 auto;
	background-color: white;
	display: flex;
  	align-items: baseline;
  	justify-content: center;
  	position: relative;
	height: 100%;
	min-height: 100%;
}

/*rubriker i article har en speciell färg*/
article h1{
	color:#E65F68;
	font: 1.5em/1.1 "Playfair Display", serif;
}

/*article innuti section finns på alla sidor*/
.item2{
	width: 60%;
	height: 100%;
	background-color: white;
	padding: 1em;
	margin:0 0 1em 1em;
}
.pricing{
	width:90%;
}
/*tabell som finns på två sidor*/
table{
	border-collapse: collapse;
	width:85%;
	height: 100%;
}

/*specificitet 1 + 1 + 1*/
table, tr, td{

	padding: 1em 1em 1em 0;
	vertical-align: top;
    border-bottom: 1px solid #ddd;
}
table th{
	text-align: left;
}

/*form-element för contact-sidan
textareans border får rundade kanter etc*/
textarea {
    width: 100%;
    height: 12em;
    padding: 0.8em 0.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
	color: grey;
    border-radius: 0.25em;
    resize: none;
}

/*utseende på inputfält*/
input{
    width: 100%;
    padding: 0.8em 0.5em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;

}
/*submit-knappen stylas*/
input[type=submit] {
    width: 20%;
    background-color: teal;
    color: white;
    padding: 0.8em 0.5em;
    border: none;
    border-radius: 0.25em;
}

/* specificitet 1 + 10 + 1*/
/*jag är osäker på hur det här ränkas?*/
input[type=submit]:hover {
    background-color: #5BB2A2;
}

/*detta centrerar footerImg vertikalt i förhållande till texten*/
footer p{
	display: flex;
	align-items: center;
}

footer {
	width:100%;
    padding: 0 2em 0 2em;
    color: white;
    height: 5em;
    background-color: teal;
    position:absolute;
   	top: 100%;
   	margin-top: 1em;
   	font-size: 1em; 
}

/*detta centrerar footerImg vertikalt i förhållande till texten*/
.footerBottom p{
	display: flex;
	align-items: center;

}

.footerBottom{
	width:100%;
    padding: 0 2em 0 2em;
    color: white;
    height: 5em;
    background-color: teal;
   	margin-top: 1em;
   	font-size: 1em; 
  	padding-right: 2rem;
	display: flex;
	align-items: center;
}

@media screen and (min-width: 50em){
	header{
font-size: 1em;
		} 

	

	}
 